{% extends 'paciente/base.html' %}
{% load static %}

{% block content %} 
<section>
    <div class="col-xs-12 contenedor_prototipo salmon">
        <h1>Campaña</h1>
        <br>
        <p>Nombre: Clases de tejido</p>
        <br>
        <p>Fecha de inicio: Lunes 09 de Noviembre</p>
        <br>
        <p>Duración: 1 hora a la semana</p>
        <br>
        <p>Modalidad: Presencial</p>
        <br>
        <p>CUPOS DISPONIBLES</p>
        <br>
        <br>
        <a href="{% url 'campana_confirmacion' %}">Inscribirse</a>
    </div>
</section>
{% endblock %}