{% extends 'paciente/base.html' %}
{% load static %}

{% block content %} 
<section>
    <div class="col-xs-12 contenedor_prototipo verde">
        <h1>Alimentación</h1>
        <br>
        <p>Nutricionista: Valeria Perez</p>
        <br>
        <p>Tipo de dieta: Celiaca</p>
        <br>
        <p>Observaciones: Alergia a las nueces</p>
        <br>
        <p>DISPONIBLE</p>
        <br>
        <br>
        <h2><a href="{% url 'menu_confirmacion' %}">Solicitar Menu</a></h2>
    </div>
</section>
{% endblock %}